/*Copyright 2013 by Ryley Herrington*/
html, body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #FFF;
  color:#356EC7;
  text-align:left;
  margin:0;
  padding:0;
  height:100%;
}
